/*html style*/
html {
  background-color: white;
}
/*body style*/
body
{

    background-color: yellow;
    border : 2px solid black;
    width: 1200px;
    padding: 2px;
    margin: 0 auto;
}
/*header style*/
header
{
    height: 120px;
    background-color: beige;
    border-bottom: 2px solid black;
    color: white;
    text-align: center;
    padding: 10px;
}